Repository parenthetical-dev/survivalpending: changes, and which Codecov flags are due for each by the changed paths.
All: unit, API Routes, React Components, Library Functions

Fix Sentry configuration and network error handling
  .github/workflows/test.yml
  HOMEPAGE_ISSUES_ANALYSIS.md
  app/api/voice/preview/route.ts
  app/page.tsx
  components/ScrollingStories.tsx
  contexts/AuthContext.tsx
  instrumentation-client.ts
  lib/featured-stories.ts
  lib/turnstile.ts
  lib/voice-generation.ts
  package-lock.json
  package.json
  playwright.config.ci.ts
  sentry.client.config.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: unit, API Routes, React Components, Library Functions

Fix CodeCov workflow execution order
  .github/workflows/test.yml
Due: none

Fix unit test failures
  jest.setup.js
  tests/unit/components/QuickExitButton.test.tsx
Due: none

Fix remaining unit test failures
  jest.setup.js
  tests/unit/components/QuickExitButton.test.tsx
  tests/unit/lib/voice-generation.test.ts
Due: none

Fix NextRequest and window.location mocks in tests
  jest.setup.js
  tests/unit/components/QuickExitButton.test.tsx
Due: none

Improve test mocks for better CI compatibility
  HOMEPAGE_ISSUES_ANALYSIS.md
  jest.setup.js
  tests/unit/components/QuickExitButton.test.tsx
Due: none

Refactored unit tests
  app/api/auth/signup/route.ts
  jest.setup.js
  tests/unit/components/QuickExitButton.test.tsx
Due: unit, API Routes

Refactored unit tests II
  jest.config.js
Due: none

Dev (#21)
  .github/workflows/test.yml
  HOMEPAGE_ISSUES_ANALYSIS.md
  app/api/auth/signup/route.ts
  jest.config.js
  jest.setup.js
  tests/unit/components/QuickExitButton.test.tsx
  tests/unit/lib/voice-generation.test.ts
Due: unit, API Routes

Testing refactor III
  .github/workflows/test.yml
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

Fix E2E test failures and add missing environment variables
  .github/workflows/test.yml
  jest.setup.js
  tests/e2e/auth-flow.spec.ts
  tests/e2e/helpers/auth.ts
  tests/e2e/story-submission.spec.ts
Due: none

Fix GitHub Actions permissions for test reporting
  .github/workflows/test.yml
Due: none

Fix E2E tests and disable Sentry in CI environments
  .github/workflows/test.yml
  next.config.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

Fix Pirsch tracking error in test environment
  middleware.ts
Due: none

Fix build errors and remove non-standard NODE_ENV usage
  .github/workflows/test.yml
  app/layout.tsx
  app/studio/[[...tool]]/layout.tsx
  components/auth/LoginForm.tsx
  components/auth/SignupForm.tsx
Due: unit, React Components

fix: added Vercel speed insights package
  app/not-found.tsx
  build.log
  package-lock.json
  package.json
Due: unit

Fix E2E test failures and improve test reliability
  app/api/analytics/event/route.ts
  middleware.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: unit, API Routes

Fix Codecov upload to only run after successful tests
  .github/workflows/test.yml
Due: none

Fix E2E test failures and improve CI/CD pipeline
  .github/workflows/test.yml
  app/api/stories/approved/route.ts
  components/story/WriteStage.tsx
  tests/e2e/story-submission.spec.ts
Due: unit, API Routes, React Components

Fix remaining E2E test failures
  tests/e2e/helpers/auth.ts
  tests/e2e/story-submission.spec.ts
Due: none

Fix E2E test issues with auth flow and story submission
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

Fix remaining E2E test failures in shard 1
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

Improve E2E test reliability with better error handling and debugging
  lib/prisma.ts
  tests/e2e/auth-flow.spec.ts
Due: unit, Library Functions

Fix E2E test failures in CI pipeline
  .github/workflows/test.yml
  playwright.config.ci.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

Fix PostgreSQL root role error in E2E tests
  .github/workflows/test.yml
Due: none

Improve PostgreSQL root user creation in CI
  .github/workflows/test.yml
Due: none

Fix E2E test failures by adding proper database cleanup
  .github/workflows/test.yml
  prisma/clean-test-db.ts
  prisma/seed-test.ts
Due: none

Fix E2E test failures with comprehensive improvements
  .github/workflows/test.yml
  prisma/clean-test-db.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

Fix E2E test failures by removing root user creation and improving test isolation
  .github/workflows/test.yml
  app/api/test/cleanup-users/route.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: unit, API Routes

fix: ts fixes
  app/api/test/cleanup-users/route.ts
Due: unit, API Routes

Test: updted database
  .github/workflows/test.yml
  app/api/test/cleanup-users/route.ts
  docs/neon-test-setup.md
  mcp.json
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: unit, API Routes

fix: e2e testing
  invalid-login-no-error.png
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

fix: E2E Shard 2 updates
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

fix: E2E Shard 2 updates
  lib/turnstile.ts
  tests/e2e/story-submission.spec.ts
Due: unit, Library Functions

fix: E2E shard two
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

E22 Testing #2
  tests/e2e/auth-flow.spec.ts
  tests/e2e/story-submission.spec.ts
Due: none

Dev (#22)
  .github/workflows/test.yml
  app/api/analytics/event/route.ts
  app/api/stories/approved/route.ts
  app/api/test/cleanup-users/route.ts
  app/layout.tsx
  app/not-found.tsx
  app/studio/[[...tool]]/layout.tsx
  build.log
  components/auth/LoginForm.tsx
  components/auth/SignupForm.tsx
  components/story/WriteStage.tsx
  docs/neon-test-setup.md
  invalid-login-no-error.png
  jest.setup.js
  lib/prisma.ts
  lib/turnstile.ts
  mcp.json
  middleware.ts
  next.config.ts
  package-lock.json
  package.json
  playwright.config.ci.ts
  prisma/clean-test-db.ts
  prisma/seed-test.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/helpers/auth.ts
  tests/e2e/story-submission.spec.ts
Due: unit, API Routes, React Components, Library Functions

Fix WebKit E2E test failure in auth-flow
  tests/e2e/auth-flow.spec.ts
Due: none

Fix critical security vulnerabilities from code scanning
  app/api/analytics/event/route.ts
  app/api/auth/login/route.ts
  app/api/auth/signup/route.ts
  app/api/stories/by-state/route.ts
  app/api/story/submit/route.ts
  app/api/user/shares/route.ts
  app/api/voice/preview/route.ts
  app/api/webhooks/sanity/route.ts
  components/auth/LoginForm.tsx
  components/auth/SignupForm.tsx
  lib/__tests__/sanitize.test.ts
  lib/meta-capi.ts
  lib/rate-limit.ts
  lib/sanitize.ts
  lib/turnstile.ts
  lib/username-generator.ts
  lib/validation.ts
  lib/voice-generation.ts
  middleware.ts
  survivalpending-code-scanning-alerts.json
Due: unit, API Routes, React Components, Library Functions

Fix typo in sanitize test - use toMatch instead of toEndWith
  lib/__tests__/sanitize.test.ts
Due: none

Path conditions:
  unit: any of: app/, components/, lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, tests/**, scripts/**, **/*.config.js, **/*.config.ts, **/generated/**, app/generated/**
  API Routes: any of: app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, tests/**, scripts/**, **/*.config.js, **/*.config.ts, **/generated/**, app/generated/**
  React Components: any of: components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, tests/**, scripts/**, **/*.config.js, **/*.config.ts, **/generated/**, app/generated/**
  Library Functions: any of: lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, tests/**, scripts/**, **/*.config.js, **/*.config.ts, **/generated/**, app/generated/**
